@import url('https://fonts.cdnfonts.com/css/poppins');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    /* overflow: hidden; */
}

a {
    text-decoration: none;
    color: white;
    font-weight: 600;
}

h3:hover {
    color: rgb(230, 14, 14);
}

a:hoveR {
    color: rgb(102, 233, 142);
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
    color: white;
    font-size: large;
}

.header {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

div h3 {
    color: rgb(102, 233, 142);
    font-size: 22px;
}


.container-one {
    background-color: #184572;
    padding: 20px 10vw;
    color: white;
}

.big-text {
    font-size: 30px;
    color: rgb(102, 233, 142);
}

.h1-p-button-box {
    display: flex;
    flex-direction: column;
    flex: 1;
}

button {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 1px solid;
    border-radius: 15px;
    width: 100px;
    padding: 2px 10px;
    font-size: 15px;
}

.button:hover {
    background-color: rgb(102, 233, 142);
    cursor: pointer;
    color: white;
}

.image-container-one {
    width: 250px;
}

.image-container-one img {
    width: 100%;
    height: auto;
    border-radius: 15px;
    ;
}

.container-text-and-image {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 20px 0;
    align-items: center;
    justify-content: space-between;
}

.image-1,
.image-2,
.image-3,
.image-4 {
    width: 200px;
    height: 200px;
    border: 2px solid black;
    border-radius: 5px;
    text-align: center;
}

.image-container-two p {
    width: 200px;
}

h2 {
    text-align: center;
    margin: 20px auto;
}

.image-container-two {
    text-align: center;
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
    flex-shrink: 2;
}